
/*body{
 background: url(Imagenes/formulario.png) no-repeat center center fixed;
    /*background-size: cover;
    padding: 2PX;
    
}
    */
/*#login{
	padding: 30em; /*Le cambia el tamaño al formulario*/
	 /*margin-top: -25em;/*Lo mueve hacia arriba*/ 
	 
	 /*margin-left: 10em;/*Lo mueve hacia la derecha
}
	 */	
#panel-body{

}

#panel-footer{
background-color: #084B8A;
}
